<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-6">Bolttech Pokemon Explorer</h1>
  
  <div 
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    @for (p of pokemons; track p.id) {
      <app-pokemon-card [pokemon]="p" (click)="openDetail(p)"></app-pokemon-card>
    }
  </div>

  @if (loading) {
  <div class="flex justify-center p-8">
    <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-[#00b894]"></div>
    <p class="ml-4 self-center font-semibold text-gray-600">Syncing data...</p>
  </div>
  }

  @if (!hasMore) {
    <div class="text-center p-8 text-gray-400 italic">
      You've reached the end of the Bolttech Pokemon.
    </div>
  }
</div>

@if (selectedPokemon) {
  <app-pokemon-detail [activePokemon]="selectedPokemon" (close)="closeDetail()"></app-pokemon-detail>
}