<div class="relative p-4 bg-white rounded-xl shadow-sm flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <div class="flex gap-4 bg-white rounded-tl-xl rounded-tr-xl"></div>

    <button
      class="p-2 w-10 h-10 text-xl flex items-center justify-center rounded-full border-2 text-gray-300 border-gray-300 hover:bg-[#00b894] hover:border-transparent hover:text-white transition-all duration-300 ease-in-out"
      (click)="onOpenDetails()"
    >
      →
    </button>
  </div>

  <div class="flex gap-4">
    <div class="flex-1">
      <img [src]="pokemon.frontImage"
        alt="pokemon image"
        class="object-contain w-[200px] h-[200px]"
      />
    </div>

    <div class="flex-1 flex flex-col items-center justify-center gap-4">
      <div class="mb-2 flex gap-2">
        <p class="text-xs uppercase font-semibold text-gray-500">
          {{ pokemon.height }} m,
        </p>
        <p class="text-xs uppercase font-semibold text-gray-500">
          {{ pokemon.weight }} kg,
        </p>
        <p class="text-xs uppercase font-semibold text-gray-500">
          {{ pokemon.baseExperience }} xp
        </p>
      </div>

      <h2 class="text-2xl text-gray-800 capitalize font-bold text-center">
        {{ pokemon.name }}
      </h2>

      <div class="flex justify-center gap-2">
        @for (type of pokemon.types; track $index) {
          <p
          class="text-xs uppercase font-semibold text-white px-5 py-1 rounded-full"
          [style.backgroundColor]="typeColor[type]"
        > {{ type }} </p>
        }
      </div>
    </div>
  </div>
</div>